azure-ai-documentintelligence
unstructured-client 
"unstructured[all-docs]"
"azure-ai-formrecognizer>=3.2.0b2"
azure_search_documents-11.4.0b12-py3-none-any.whl
markdownify
haystack-ai
unstructured-fileconverter-haystack
bytewax==0.19
pandas==2.2.2
requests==2.31.0